<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Mr.Kunanek Thongkam">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>PGM MANAGEMENT</title>

<link rel="shortcut icon" href="/libs/icon/debugger-16.png">
<link rel="apple-touch-icon" sizes="57x57" href="/libs/icon/debugger-57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/libs/icon/debugger-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/libs/icon/debugger-144.png">

<!--[if IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script language="javascript" src="/libs/js/vendor/jquery.min.js"></script>
<script language="javascript" src="/libs/js/vendor/db.js"></script>
<script language="javascript" src="/libs/js/vendor/respond.min.js"></script>
<script language="javascript" src="/libs/js/vendor/URI.min.js"></script>
<script language="javascript" src="/libs/js/vendor/semantic.min.js"></script>

<link rel="stylesheet" href="/libs/css/semantic.min.css" type="text/css">
<link rel="stylesheet" href="/libs/css/app.css" type="text/css">
<script language="javascript" src="/libs/js/touno.engine.js"></script>
<script language="javascript" src="/libs/js/app.js"></script>

<script type="text/javascript">
$(function(){
  $.when(
    T.Init(),
    (function(){ // Prepare client feature.
      window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
      window.origin = '<%= _HOST %>' || window.location.origin;

      var feature = $.Deferred();
      if (localStorage == undefined) {
          feature.reject(new CallbackException("<%= _LANG.EXCEPTION.LOCALSTORAGE_TITLE %>", "<%= _LANG.EXCEPTION.LOCALSTORAGE_DESC %>"));
      } else if (console == undefined) {
          feature.reject(new CallbackException("<%= _LANG.EXCEPTION.CONSOLE_TITLE %>", "<%= _LANG.EXCEPTION.CONSOLE_DESC %>"));
      } else if (document.cookie == undefined) {
          feature.reject(new CallbackException("<%= _LANG.EXCEPTION.COOKIE_TITLE %>", "<%= _LANG.EXCEPTION.COOKIE_DESC %>"));
      } else if (window.indexedDB == undefined) {
          feature.reject(new CallbackException("<%= _LANG.EXCEPTION.INDEXED_TITLE %>", "<%= _LANG.EXCEPTION.INDEXED_DESC %>"));
      } else if (History == undefined) {
          feature.reject(new CallbackException("<%= _LANG.EXCEPTION.HISTORY_TITLE %>", "<%= _LANG.EXCEPTION.HISTORY_DESC %>"));
      } else if (/MSIE 5.0|MSIE 5.5|MSIE 6.0|MSIE 7.0|MSIE 8.0/g.exec(navigator.userAgent)) {
          feature.reject(new CallbackException("<%= _LANG.EXCEPTION.IE9_TITLE %>", "<%= _LANG.EXCEPTION.IE9_DESC %>"));
      } else {
          feature.resolve(); 
      }
      return feature.promise();
    })(),
    (function(){ // sign-in session re-connect.
      var sInit = $.Deferred();
      $.ajax({
        url: '/api/sign-init',
        error: function(xhr, e, s){
          console.log(e, s);
          sInit.reject(new CallbackException(e, s));
        },
        success: function(data){
          sInit.resolve();
        }
      });
      return sInit.promise();
    })()
  ).fail(function (ex) {
    $('.ui.prepare').hide();
    var ui = '.ui.modal.feature-exception';
    $(ui).modal({ closable: false, duration: 0 });
    $('.ui.button.refresh-exception').click(function(){
      location.reload();
    });

    if (ex instanceof CallbackException) {
      $(ui+' div.description>p').html(ex.exMessage);
      $(ui+' div.header').html(ex.exTitle);
    } else {
      $(ui+' div.description>p').html(ex);
      $(ui+' div.header').html("Exception fail.");
    }
    $(ui).modal('show');  
  }).done(function (data) {
    $('.ui.prepare').fadeOut(300);
    if(T.Storage('CLIENT_SESSION')) {
      
    } else {
      $('.ui.panel.sign-in').fadeIn(300);
    }

  });


  $('.login-image').height($(window).height() - 121); 
  $(window).resize(function(){ $('.login-image').height($(window).height() - 121); });

  $('.ui.remember-id').checkbox(T.Storage('signin-remember-id') || 'uncheck');
  $('.ui.remember-id').checkbox({
    onChange: function(){
      T.Storage('signin-remember-id', ($(this).prop('checked') ? 'check': 'uncheck'));
    }
  });
  $('.ui.sign-in.form').form({
    fields: {
      email: {
        onValid:function(){ console.log('onValid email'); },
        identifier: 'email',
        rules: [
          { type: 'empty', prompt: 'Please enter your e-mail' },
          { type: 'email', prompt: 'Please enter a valid e-mail' }
        ]
      },
      password: {
        identifier: 'password',
        rules: [
          { type: 'empty', prompt: 'Please enter your password' },
          { type: 'length[6]', prompt: 'Your password must be at least 6 characters' }
        ]
      }
    },
    onSuccess: function(event, fields){
       console.log(event, fields);
       $('.ui.sign-in.button').removeClass('submit green');
       $('.ui.sign-in.button').addClass('loading');
    }
  });

  $('.ui.sign-in.button').submit(function(e){ 
      //e.preventDefault(); usually use this, but below works best here.
      return false;
  });
  // var ctx = document.getElementById('login-image').getContext('2d');
  // var text = ctx.measureText("foo"); // TextMetrics object
  // text.width; // 16;
});
</script>
</head>
<body data-whatinput-formtyping>
<div class="main">
    <div class="header">
      <div class="ui prepare dimmer active">
        <div class="ui large text loader">Loading</div>
      </div>
    </div>
    <div class="content">
      <div class="ui menu top attached">
        <div class="header">
          <div style="background-image: url('/libs/img/pgm.management.png'); background-position: 0px 0px; background-repeat: no-repeat; background-size: cover; width:200px; height: 39px; margin: 8px 10px;"></div>
        </div>
      </div>
      <div class="ui panel main" style="display:none;">

      </div>
      <div class="ui panel sign-in" style="display:none;">
        <div class="ui equal width stackable grid " style="margin:0px;">
          <div class="column login-image" style="background-image: url('/libs/img/login.jpg'); background-position: 0px 0px; background-repeat: no-repeat; background-size: cover; background-position: left center;"></div>
          <!-- <canvas id="login-image" class="column login-image"></canvas> -->
          <div class="ui column centered grid">
            <div class="column" style="max-width: 350px; padding-top:80px;">
              <h2>Sign In</h2>
              <form class="ui large form sign-in">
                  <h4>Sign-In ID</h4>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="user icon"></i>
                      <input type="text" name="email" placeholder="E-mail address">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui checkbox remember-id">
                      <input type="checkbox" name="remember-id">
                      <label>Remember My Sign-In ID</label>
                    </div>
                  </div>
                  <h4>Password</h4>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" name="password" placeholder="Password">
                    </div>
                  </div>
                  <div class="ui sign-in fluid large submit green button">Login</div>
                <div class="ui error message"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui basic modal feature-exception">
      <div class="header"></div>
      <div class="image content">
        <div class="image">
          <i class="bug icon"></i>
        </div>
        <div class="description">
          <p></p>
        </div>
      </div>
      <div class="actions">
        <div class="ui inverted buttons">
          <div class="ui red basic inverted button refresh-exception">
            <i class="refresh icon"></i>
            Reload
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
        <i class="icon copyright"></i>Touno-K.com Copyright. Designed by <strong>Mr.Kananek Thongkam</strong></a>
    </div>
</div>
<script language="javascript" src="/libs/js/vendor/what-input.min.js"></script>
</body>
</html>